.textCenter img{
    width: 280px;
}
.input{
    outline: none;
    border: none;
    font-size: 18px;
}
.cropList{
    border: 1px solid rgb(220,220,220);
    border-radius: 10px;
    padding: 10px 0 10px 10px;
    margin: 10px 10px;
}
.cropList img{
    width: 40px;
    padding: 5px 10px 0 10px;
    border-radius: 50%;
    background-color: #FFF2E3;
}
.schedule{
    border: 1px solid rgb(220,220,220);
    border-radius: 10px;
    padding: 10px 0 10px 10px;
    margin: 10px 10px;
}